.material-presentation-container {
  width: 95%;
  height: auto;

  .information-content {
    padding-left: 30px;
  }

  h2 {
    margin-bottom: 20px;
    text-decoration: underline;
  }

  span {
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
  }

  p:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 680px) {
  .material-presentation-container {
    h2 {
      text-align: center;
    }

    .information-content {
      padding-left: 20px;
    }
  }
}

@media screen and (max-width: 390px) {
  .material-presentation-container {
    .information-content {
      padding-left: 5px;
    }
  }
}
