.status-div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: fit-content;
  height: 48px;
  gap: 8px;
  margin: auto;

  span {
    width: 8px;
    height: 8px;
    border-radius: 100%;
  }
}
