.view-material-page-container {
  .view-material-container {
    width: 940px;
    margin: 0 auto 40px;

    h1 {
      text-align: center;
      margin-bottom: 20px;
    }

    .carousel-root,
    .material-presentation-container {
      margin-bottom: 30px;
    }
  }
}
