@import '../../../styles/colors.scss';

.edit-material-form-container {
  width: 500px;
  border: 1px solid grey;
  border-radius: 8px;
  padding: 20px;
  margin: 0 auto 0;

  h2 {
    text-align: center;
    margin-bottom: 30px;
    color: $color-blue-dark;
  }

  input[type='text'],
  input[type='number'],
  textarea {
    width: 100%;
  }

  input[type='submit'] {
    width: 100%;
    background-color: $color-purple;
    border: none;
    border-radius: 10px;
    color: $color-grey;

    &:hover {
      background-color: $color-purple-hover;
    }
  }

  textarea {
    height: 120px;
    overflow: auto;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  .form-div {
    position: relative;
    height: auto;
    margin-bottom: 10px;
  }

  .status-div {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin: 20px auto;

    label {
      margin-bottom: 0;
    }

    label,
    input {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 800px) {
  .edit-material-form-container {
    width: 90%;
  }
}

@media screen and (max-width: 490px) {
  .edit-material-form-container {
    width: 95%;
  }
}
