.provided-material-container {
  h2 {
    margin-bottom: 20px;
    text-decoration: underline;
  }

  ul {
    margin-left: 50px;
  }

  li {
    list-style: disc;
  }

  li:not(last-child) {
    margin-bottom: 10px;
  }
}
