@import '../../styles/colors.scss';

.provided-material-container {
  h2 {
    margin-bottom: 20px;
    text-decoration: underline;
    color: $color-blue-dark;
    text-decoration-color: $color-blue-dark;
  }

  ul {
    margin-left: 50px;
  }

  li {
    list-style: disc;
    color: $color-blue-grey;
  }

  span {
    font-weight: bold;
    font-size: 18px;
    margin-right: 5px;
    color: #373f68;
  }

  li:not(last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 680px) {
  .provided-material-container {
    h2 {
      text-align: center;
    }
  }
}
