$color-grey: #f2f2f2;
$color-purple: #ad1fea;
$color-blue-purple: #4661e6;
$color-blue-dark: #373f68;
$color-blue-white: #f2f4ff;
$color-blue-grey: #647196;
$color-red: #d73737;

$color-purple-hover: #c75af6;
$color-blue-purple-hover: #7c91f9;
$color-red-hover: #e98888;
$color-blue-dark-hover: #656ea3;
