@import '../../styles/colors.scss';

.not-found-container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: auto;
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  button {
    display: block;
    margin: auto;
    height: 40px;
    border-radius: 8px;
    padding: 0 20px;
    border: none;
    background-color: $color-blue-dark;
    color: $color-grey;
  }
}
