.booking-information-container {
  width: fit-content;
  height: auto;
  margin: 0 auto 30px;

  ul {
    width: fit-content;
    margin: auto;
    margin-left: 20px;
  }

  li:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 900px) {
  .booking-information-container {
    flex-direction: column;
    gap: 20px;

    li {
      word-break: break-all;
    }

    h2 {
      text-align: center;
    }

    div {
      align-self: center;
      width: fit-content;
      padding: 0 10px;
    }
  }
}
