.action-bar-container {
  display: flex;
  width: 100%;
  margin-bottom: 30px;

  .back-button {
    display: flex;
    align-items: center;
    align-self: baseline;
    gap: 10px;
    border: none;
    background-color: transparent;
  }

  img {
    width: 30px;
    height: 20px;
  }

  div {
    display: flex;
    gap: 20px;
    width: fit-content;
    margin: auto;
  }

  button {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 960px) {
  .action-bar-container {
    div {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 670px) {
  .action-bar-container {
    flex-direction: column;
    gap: 20px;

    div {
      flex-direction: column;
      align-items: center;

      button {
        width: 100%;
      }
    }
  }
}
