@import '../../../styles/colors.scss';

.add-material-form {
  width: 100%;
  height: auto;
  margin: 30px 0;

  h2 {
    text-align: center;
    margin-bottom: 15px;
  }

  p {
    text-align: center;
    margin-bottom: 20px;
    color: rgb(180, 8, 8);
  }

  div {
    display: flex;
    gap: 10px;

    button {
      padding: 0 10px;
    }
  }

  div:not(:last-child) {
    margin-bottom: 15px;
  }

  input[type='text'] {
    width: 80%;
  }

  input[type='number'] {
    width: 50px !important;
    text-align: center;
  }

  > button {
    display: block;
    margin: auto;
    padding: 0 20px;
    border: none;
    background-color: $color-blue-purple;
    color: $color-grey;
    border-radius: 10px;
    height: 40px;

    &:hover {
      background-color: $color-blue-purple-hover;
    }
  }
}
