@import '../../styles//colors.scss';

.material-page-container {
  background-color: $color-grey;
  min-height: 100vh;
  margin-bottom: 30px;

  .material-container {
    margin: auto;
    width: 1400px;
  }

  h3 {
    width: 90%;
    text-align: center;
    margin: 0 auto 20px;
  }

  .button-add-material {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 40px;
    padding: 0 20px;
    background-color: $color-blue-dark;
    color: $color-grey;
    border: none;
    border-radius: 5px;

    &:hover {
      background-color: $color-blue-dark-hover;
    }
  }
}

@media screen and (max-width: 1470px) {
  .material-page-container {
    .material-container {
      width: 90%;
    }
  }
}
