.material-page-container {
  .material-container {
    margin: auto;
    width: 1400px;
  }

  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 1470px) {
  .material-page-container {
    .material-container {
      width: 90%;
    }
  }
}
